/* Font style */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
/* common section */
body{
    font-family: 'Poppins', sans-serif;
}
/* Top-Banner */
.top-banner{
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 128, 0.822);
    width: 1321px;
    height: 646px;
    margin: 20px auto;
    
    padding-top: 50px;
    border-radius: 20px;
}
.banner-head{
    color: whitesmoke;
}
.heading{
    font-size: 70px;
    padding-left: 106px;
}
.heading-detail{
    padding-left: 106px;
    font-size: 16px;
    padding-bottom: 30px;
}
.live-watch{
    margin-left: 106px;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 20px;
    color: whitesmoke;
    text-align: center;
    background-color: red;
    border-radius: 10px;
}
/* button effect Animation */
.live-watch span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .live-watch span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .live-watch:hover span {
    padding-right: 25px;
  }
  
  .live-watch:hover span:after {
    opacity: 1;
    right: 0;}

/*  */
.banner-images{
    margin: 0 auto;
    padding: 2% 2% 0 2%;
}
.banner-images img{
    width: 581px;
}

/* site Nav  */
.side-nav{
    height: 252px;
    width: 252px;
    background-color: rgba(0, 0, 128, 0.822);
    margin-left: 250px;
    margin-right: 60px;
    border-radius: 10px;
}
.side{
    width: 222px;
    height: 64px;
    margin-top: 15px;
    background-color: white;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    margin-left: 15px;
}
#mark{
    background-color: red;
    color: white;
}
/* Blog-site */
.blog-site{
    display: flex;
    margin-top: 100px;
    margin-bottom: 80px;
    
}
.blogs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 24px;
    column-gap: 24px;
}
.blog{
    width: 312px;
    height: 362px;
    background-color: whitesmoke;
    border-radius: 20px;
}
.button{
    margin-left: 10px;
    padding: 10px;
    font-size: 20px;

}
.blog-detail{
    margin-left: 10px;
    font-weight: 600;
}
.icon{
    margin-left: 10px;
}
.time{
    padding-right: 50px;
}
.view{
    margin-left: 330px;
    margin-bottom: 50px;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 20px;
    color: whitesmoke;
    text-align: center;
    background-color: red;
    border-radius: 10px;
    display: none;
}

/* footer */
.footer-section{
    text-align: center;
    background-color: rgba(0, 0, 128, 0.822);
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 15px;
}
.footer-heading{
    font-size: 50px;
    color: whitesmoke;
}
.line{
    width: 75%;
    margin-bottom: 40px;
}
.contact-info{
    margin-bottom: 50px;
}
.link{
    text-decoration: none;
    color: whitesmoke;
    padding-right: 15px;
}
.fa-brands.social{
    color: whitesmoke;
    padding-right: 40px;
    font-size: 26px;
}

/* UpComming match */
.upcoming{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 24px;
    row-gap: 20px;
}
.matches{
    background-color: whitesmoke;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    padding: 10px;
}
.match{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    
}
.match img{
    width: 45%;
}

/* Responsive website */

/* Mobile device */
@media only screen and (max-width:688px) {
   .top-banner{
    display: block;
    width: 100%;    
}
   .heading{
    font-size: 20px;
    padding-left: 20px;
}
.heading-detail{
    padding-left: 80px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 50%;
    height: 50px;
}
.live-watch{
    margin-right: 40px;
}
.banner-images img{
    width: 70%;
    padding-left: 60px;
}
.side-nav{
    margin-left: 40px;
}
.side{
    margin-left: 15px;
}
.blog-site{
    flex-direction: column;
}
.blogs{
    grid-template-columns: repeat(1,1fr);
    margin-top: 50px;
}
.blog{
    width: 100%;
}
.footer-heading{
    font-size: 30px;
}
.line{
    width: 70%;
}
.contact-info{
  display: flex;  
  flex-direction: column;
}
.upcoming{
    grid-template-columns: repeat(1,1fr);
    padding-left: 15px;
    margin-top: 70px;
}
}

/* Tablet View */
@media only screen and (min-width:688px) and (max-width:992px){
   .top-banner{
    padding-left: 10px;
    width: auto;
    height: 820px;
   }
   .banner-images img{
    width: 500px;
    padding-left: 20px;
   }
   .side-nav{
    padding-left: 70px;
    margin-left: 250px;
    width: 300px;
   }
   .blog-site{
    flex-direction: column;

   }
   .blogs{
    grid-template-columns: repeat(2,1fr);
    margin-top: 50px;
    margin-left: 40px;
    width: auto;
}
.upcoming{
    grid-template-columns: repeat(2,1fr);
    padding-left: 70px;
    margin-top: 70px;
}
.view{
    display: block;
}

}